(frame_source:(path:"sprite-sheet.png",metadata:(tile_size:(128.0,128.0),columns:26,rows:2,padding:None,offset:None)),current_id:("idle"),states:[(("idle"),(min_i:26,max_i:51,mspf:66.66666666666667,next_state:Some(("walk")),maintain_index:false,index:26,ms_elapsed:0.0)),(("walk"),(min_i:0,max_i:9,mspf:66.66666666666667,next_state:Some(("idle")),maintain_index:false,index:0,ms_elapsed:0.0))])